#main-body{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
p{
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.2em;
    text-align: justify;
    margin-bottom: .50rem;
}
body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
    text-align: center;
}
.media{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    flex-direction: column!important;
}