#main-body{
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.2em;
    text-align: justify;
    margin-bottom: .50rem;
}
